.login-header{
    
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: bold;
    color: #A34343;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;

}
.register-btn{
    width: 100%;
    height: 50px;
    margin: 10px 0px;
}

/* ------------------------ */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #A34343;
}
.container {
    width: 300px;
    padding: 20px;
    background: #FBF8DD;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin: 100px auto;
}
.form-group {
    margin-bottom: 15px;
}
.form-group label {
    display: block;
    margin-bottom: 5px;
}
.form-group input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}
.error {
    color: red;
    font-size: 0.9em;
}
.navbar {
    display: none;
    background-color: #E9C874;
    /* color: white; */
    padding: 15px;
    /* padding-bottom: 20px; */
    position: fixed;
    top: 0;
    width: 100%;
    box-sizing: border-box;
    z-index: 1000;
    opacity: 0.9;
}
.navbar .welcome {
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: inline-block;
    margin-right: 20px;
    /* padding-bottom: 20px; */
    color: #A34343;
}
.navbar button {
    margin-top: 10px;
    background: #A34343;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    float: right;
    margin-left: 10px;
    width: 100px;
    height: 30px;

}
.navbar .nav-buttons {
    display: inline-block;
}
.navbar .nav-buttons button {
    background: #A34343;
    /* color: white; */
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-right: 10px;
    /* margin-top: 20px; */
}
.slideshow-container {
    display: none;
    position: relative;
    max-width: 100%;
    margin-top: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* border-radius: 10px; */
    overflow: hidden;
    height: 100vh;
}
.slideshow-container img {
    width: 100%;
    display: none;
    height: 100vh;
    opacity: 0.7;
}
.slideshow-container img.active {
    display: block;
}
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background-color: #A34343;
    opacity: 0.7;
    /* background-color: rgba(#A34343, 0.5);  xxxxxxx */
}
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
.categories {
    width: 200px;
    background: #FBF8DD;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.categories button {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    cursor: pointer;
    background: #A34343;
    border: none;
    text-align: left;
    color: #FBF8DD;
}
.categories button:hover {
    background: #E9C874;
}
.navbar button:hover {
    background: #FBF8DD;
    color: #A34343;
    /* transition: 0.5; */
}
.products {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}
.product {
    background: #FBF8DD;
    border: #E9C874 4px solid;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: calc(33.333% - 40px);
    box-sizing: border-box;
    color: #A34343;
}
.product img {
    width: 100%;
    border: #E9C874 4px solid;
}
.footer {
    background: #E9C874;
    color: white;
    text-align: center;
    padding: 10px;
    /* position: fixed; */
    bottom: 0;
    width: 100%;
}
.container-p {
    width: 100%;
    padding: 20px;
    background: #A34343;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin: 100px auto;
}
.product>img{
    width: 100%;
    height: 200px;
}
/* ---------------------- */



/* =========================== */
#cartPage {
    background-color: #FBF8DD;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 80%;
    margin: 20px auto;
    text-align: center;
}

#cartItems {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.cart-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
}

.cart-item p {
    margin: 0;
}

.cart-item button {
    padding: 5px 10px;
    cursor: pointer;
}

.cart-item .add-more {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
}

.cart-item .remove {
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
}

#totalPrice {
    font-size: 1.5em;
    color: #00f;
}

button {
    padding: 10px 20px;
    font-size: 1em;
    background-color: #A34343;
    color: #FBF8DD;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #E9C874;
    transition: 0.6s;
}
h1{
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    font-size: 60px;
    font-weight: bold;
    color: #E9C874;
    margin-bottom: 15px;
    /* margin-top: -1px; */

}
#logout:hover {
    background-color:red;
    color: #FBF8DD;
}

#scrollTopBtn {
    color: #A34343;
    display: none;
    position: fixed;
    bottom: 20px;
    left: 25px;
    display: none; /* Initially hidden */
    background-color: #E9C874;
    border: #A34343 1px solid;
    /* padding: 10px 20px; */
    border-radius: 50%;
    cursor: pointer;
    z-index: 1000; /* Ensure it is above other elements */
}

#scrollTopBtn:hover {
    opacity: 0.3;
}
/* ------------------------------- */
